.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__heading {
  color: black;
  margin-top: 0;
  margin-bottom: 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__container {
  position: relative;
  margin: auto;
  width: 430px;
  padding: 36px;
  border-radius: 10px;
  background-color: #fff;
}

.modal__form-container {
  position: relative;
}

.modal__preview-container {
  position: relative;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/Mobile-Close-Icon-white.svg);
}

#modal-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(100% + 4px);
  bottom: calc(100% + 2px);
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-caption {
  font-family: inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 14.52px;
}

.modal__form {
}

.modal__input {
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  margin-bottom: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  line-height: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.modal__button {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  background-color: #000;
  color: #fff;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-caption {
  font-family: inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 14.52px;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 29px);
  }

  .modal__close:hover {
    opacity: 0.6;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__input {
    margin-bottom: 30px;
  }

  .modal__button {
    margin-top: 15px;
  }

  .modal__preview-image {
    width: 240px;
    height: 299px;
  }
}
